/*
 * LCW Specific Styles 
 */
.lcw a {
  color: #882350;
}
.lcw .school_header h1 {
  background: url(../../images/schools/LCW-hp-text.png) no-repeat left center;
  text-indent: -9999em;
}
.lcw .school_nav {
  background: #1967a2;
  /* Old browsers */

  background: -moz-linear-gradient(left, #124b76 0%, #1967a2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #124b76), color-stop(100%, #1967a2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, #124b76 0%, #1967a2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #124b76 0%, #1967a2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #124b76 0%, #1967a2 100%);
  /* IE10+ */

  background: linear-gradient(to right, #124b76 0%, #1967a2 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#124b76', endColorstr='#1967a2', GradientType=1);
  /* IE6-9 */

}
.lcm .gateway_nav.horizontal_nav a {
  color: #ba4f26;
}
.lcw .scroll-overlay {
  background-color: #a0145a;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */

  filter: alpha(opacity=50);
  background-color: rgba(160, 20, 90, 0.6);
}
.lcw .scroll-overlay-text a {
  color: #73C3FF;
}
.mini_map {
  height: 150px;
  position: relative;
  top: -28px;
  width: 425px;
}
.mini_map span.mini_map_arrow {
  background: url("../../images/schools/mini-map-arrow.png") no-repeat scroll right center transparent;
  color: #162944;
  font-size: 12px;
  left: -10px;
  padding: 12px 28px 12px 14px;
  position: absolute;
  top: 35%;
}
.mini_map span.mini_map_arrow:before {
  background-color: transparent;
  border: medium none;
  bottom: 0;
  box-shadow: -3px 0 2px 0 rgba(0, 0, 0, 0.25);
  content: " ";
  display: block;
  height: 36px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 90%;
}
.mini_map img {
  border: 1px solid #dedad1;
}
.lcw .news_item h3 {
  background-color: #882350;
}
